<%params%>

<form action="/add_link" method="post">
<div>
<label for="Link Description">Link Description
<input id="Link Description" name="link_description" type="text"></input> 
</div>

<div>
<label for="Link URL">Link URL
<input id="Link URL" name="link_url" type="text"></input> 
</div>

<div>
<label for="Image URL">Image URL
<input id="Image URL" name="image_url" type="text"></input> 
</div>

<button>Add link</button>

</form>
